<div class="bg-primary p-4 text-white">
    <div class="grid-x">
        <div class="cell shrink">{{ site_name }}</div>
        <div class="cell auto">&nbsp;</div>
        <div class="cell shrink">
            <div class="cell shrink">
                <a href="{{ site_url }}access/logout">Logout</a>
            </div>
        </div>
    </div>
</div>