<div class="bg-gray-700 absolute top-0 left-0 text-white w-full">
    <div class="flex p-4">
        <div>{{ site_name }}</div>

        <div class="flex-auto"></div>

        <div>
            <div class="">
                <a class="text-white no-underline" href="{{ site_url }}logout">Logout</a>
            </div>
        </div>
    </div>
</div>