{% extends "_layouts/default.twig" %}

{% block content %}
    <div class="flex justify-center items-center h-screen ">
        <div class="bg-white p-4" style="width:300px;">
            <h3 class="pb-2 uppercase">Login</h3>
            {% if error | length %}
                <div class="text-red-600">{{ error }}</div>
            {% endif %}

            <form method="post">
                <label>Username
                    <input type="text" name="username" required>
                </label>

                <label>Password
                    <input type="password" name="password" aria-describedby="passwordHelpText" required>
                </label>
                <!--<p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>-->
                <input type="submit" class="button" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}